# 데이터 조회 프로그램

In [1]:
import MySQLdb

In [2]:
conn, cur = None, None
data1, data2, data3, data4 = "", "", "", ""
row = None

In [36]:
conn = MySQLdb.connect(host="127.0.0.1", user="myuser", password="qwer1234", db="hanbitDB", charset="utf8")
cur = conn.cursor()

In [37]:
cur.execute("SELECT * FROM userTable;")

5

In [38]:
print("사용자ID      사용자이름      이메일                출생년도")
print("------------------------------------------------------------")

while True:
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print(f"{data1:5s}        {data2:15s}{data3:20s} {data4:d}")

사용자ID      사용자이름      이메일                출생년도
------------------------------------------------------------
john         John Bann      john@naver.com       1990
kim          kim Chi        kim@daum.net         1992
lee          Lee Pal        lee@paran.com        1988
park         Park Su        park@gmail.com       1980
su           Su Ji          suji@hanbit.com      1994

In [39]:
conn.close()

- SELECT문은 입력이나 변경사항이 없으므로 commit을 해줄 필요가 없다
- fetchone으로 한 레코드씩 불러오는데 튜플형식으로 가져온다.