# Boolean Selection

In [1]:
import numpy as np
import pandas as pd

### Boolean selection
- boolean Series가 []와 함께 사용되면 True 값에 해당하는 값만 새로 반환되는 Series객체에 포함됨
- 다중조건의 경우 &, |를 사용하면 연결가능

In [3]:
s = pd.Series(np.arange(10),np.arange(10)+1)
s

1     0
2     1
3     2
4     3
5     4
6     5
7     6
8     7
9     8
10    9
dtype: int32

In [4]:
s > 5

1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10     True
dtype: bool

In [6]:
s[s>5] # 인덱스를 통한 filtering

7     6
8     7
9     8
10    9
dtype: int32

In [7]:
s[s%2 ==0]

1    0
3    2
5    4
7    6
9    8
dtype: int32

In [9]:
s[s.index > 5] # 인덱스 기준으로 하기

6     5
7     6
8     7
9     8
10    9
dtype: int32

In [11]:
(s > 5) & (s < 8) # 다중 조건식에선 괄호로 묶어줘야함

1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9     False
10    False
dtype: bool

In [12]:
s[(s > 5) & (s < 8)]

7    6
8    7
dtype: int32

In [13]:
(s >= 7).sum() # 7이상인 거 3갸

3

In [14]:
(s[s>=7]).sum() # 7이상인 7,8,9의 합

24

In [16]:
s[s>=7]

8     7
9     8
10    9
dtype: int32

# Series 데이터 변경 및 슬라이싱

### Series 값 변경
- 추가 및 업데이트 : 인덱스를 이용
- 삭제 : drop 함수 이용

In [17]:
s = pd.Series(np.arange(100,105), ['a','b','c','d','e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [23]:
s['a'] = 200
s['k'] = 200
s

a    200
b    101
c    102
d    103
e    104
k    200
dtype: int64

In [29]:
s.drop('k') # 드랍을 적용할 때만 k가 드랍되는 것이고, s값에는 영향이 없다

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [30]:
s # 영향이 없다. k가 사라지는 것이 아니다. drop이 반환하는 값에서만 적용되는 것임.

a    200
b    101
c    102
d    103
e    104
k    200
dtype: int64

In [31]:
ss = s.drop('k')
ss

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [32]:
s.drop('k', inplace=True) # inplace에 True를 주면 바로 그냥 s에 k를 드랍해버림.
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [33]:
s[['a','b']] = [300, 900]
s

a    300
b    900
c    102
d    103
e    104
dtype: int64

### Slicing
- 리스트, ndarray와 동일하게 적용

In [34]:
s1 = pd.Series(np.arange(100,105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [35]:
s1[1:3]

1    101
2    102
dtype: int32

In [39]:
s2 = pd.Series(np.arange(100,105),['a','c','b','d','e'])
s2

a    100
c    101
b    102
d    103
e    104
dtype: int32

In [40]:
s2[1:3] # 인덱스가 숫자가 아니더라도 순서형은 가능

c    101
b    102
dtype: int32

In [41]:
s2['c':'d'] # 문자열 인덱스는 마지막 d까지도 포함함.

c    101
b    102
d    103
dtype: int32