# DataFrame

### DataFrame 생성하기
- 일반적으로 분석을 위한 데이터는 다른 데이터 소스(database, 외부파일)을 통해 dataframe을 생성
- 그 외 가장 흔히 사용하는 방법은의 리스트를 쓰거나, Numpy배열을 이용하는 것

In [4]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

#### dictionary로 부터 생성하기
- dict의 key -> column

In [5]:
data = {'a':100, 'b':200, 'c':300}
DataFrame(data, index=['x','y','z'])

     a    b    c
x  100  200  300
y  100  200  300
z  100  200  300

In [6]:
data = {'a':[1,2,3], 'b':[4,5,6], 'c':[7,8,9]}
DataFrame(data, index=['x','y','z'])

   a  b  c
x  1  4  7
y  2  5  8
z  3  6  9

#### Series로 부터 생성하기
- 각 Series의 인데스 -> column

In [25]:
n1 = Series([100,200,300],['a','b','c'])
n2 = Series([101,201,301],['a','b','c'])
n3 = Series([110,210,310],['a','b','c'])
DataFrame([n1,n2,n3], index=['가','나','다'])

     a    b    c
가  100  200  300
나  101  201  301
다  110  210  310

In [29]:
n4 = Series([100,200,300],['a','b','d'])
n5 = Series([101,201,301],['a','b','k'])
n6 = Series([110,210,310],['a','b','c'])
a = DataFrame([n4,n5,n6], index=[100, 101, 102]) # d,k,c 등 없는 것들은NaN으로 표시
a

         a      b      d      k      c
100  100.0  200.0  300.0    NaN    NaN
101  101.0  201.0    NaN  301.0    NaN
102  110.0  210.0    NaN    NaN  310.0

In [30]:
a['b']

100    200.0
101    201.0
102    210.0
Name: b, dtype: float64

In [31]:
a.b # ['b'], .b 이런식으로도 뽑아낼수 있음.

100    200.0
101    201.0
102    210.0
Name: b, dtype: float64