# MySQL 파이썬

In [9]:
# !pip install mysqlclient

## mysqlclient 임포트

In [2]:
import MySQLdb

## db와 연결

In [3]:
conn = MySQLdb.connect(host='127.0.0.1', user='myuser', password='qwer1234', db='hanbitDB', charset='utf8')

## 커서 객체 생성

In [5]:
cursor = conn.cursor()

## execute로 명령내리기

In [7]:
# 데이터 입력
cursor.execute("INSERT INTO userTable VALUES ('john', 'John Bann', 'john@naver.com', 1990)")
cursor.execute("INSERT INTO userTable VALUES ('kim', 'kim Chi', 'kim@daum.net', 1992)")
cursor.execute("INSERT INTO userTable VALUES ('lee', 'Lee Pal', 'lee@paran.com', 1988)")
cursor.execute("INSERT INTO userTable VALUES ('park', 'Park Su', 'park@gmail.com', 1980)")

1

## 변경사항 커밋하기

In [8]:
conn.commit()

## db연결 끊기
다쓴 db는 꼭 연결을 끊어줘야한다.

In [12]:
# db 연결 끊기
conn.close()