In [11]:
# !pip uninstall sql

In [1]:
%load_ext sql

In [3]:
# %sql postgresql://ec9303:Ec9303!1@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

In [2]:
%sql postgresql://postgres:qwer1234@localhost:5432/practice

In [10]:
%%sql
SELECT * FROM access_log;

 * postgresql://postgres:***@localhost:5432/practice
3 rows affected.

[('2016-08-26 12:02:00', 'http://www.other.com/path1/index.php?k1=v1&k2=v2#Ref1', 'http://www.example.com/video/detail?id=001'),
 ('2016-08-26 12:02:01', 'http://www.other.net/path1/index.php?k1=v1&k2=v2#Ref1', 'http://www.example.com/video#ref'),
 ('2016-08-26 12:02:01', 'https://www.other.com/', 'http://www.example.com/book/detail?id=002')]